h1 {
	color: lightgreen;
	font-family: "Arial", sans-serif;
	text-align: left;
	font-size: 20px;
	display: inline;
	float: left; 
	margin: 0;
}

h2 {
	color: lightgreen;
	font-family: "Arial", sans-serif;
	text-align: left;
	font-size: 50px;
	margin-top: 10px;
	margin-left: 10px;
}
.post h2 {
	color: lightgreen;
	font-family: "Arial", sans-serif;
	text-align: left;
	font-size: 50px;
	margin-top: 90px;
	margin-left: 10px;
}

.post h3 {
	color: grey;
	font-family: "Arial", sans-serif;
	text-align: left;
	font-size: 25px;
	display: left;

}

.post h3:hover {
	color: orange;
}

.item h3 {
	color: grey;
	font-family: "Arial", sans-serif;
	text-align: left;
	font-size: 25px;
	margin-left: 30px; 
	margin-top: 20px;
	display:left;
}

.item h3:hover {
	color: orange;
}

h3 {
	color: grey;
	font-family: "Arial", sans-serif;
	text-align: left;
	font-size: 25px;
	display: left;
	margin-left: 70px;
}

p {
	color: grey;
	font-family: "Arial", sans-serif;
	font-size: 20px;
	margin: 10px;
}

.post p {
	color: lightgrey;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	display: left;
	margin-left: 100px
}

.item p {
	color: lightgrey;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	margin-left: 45px; 
	margin-top: 20px;
	display: left;
}

.intro p {
	color: grey;
	font-family: "Arial", sans-serif;
	font-size: 20px;
	margin-left: 100px; 
	margin-top: 20px;
	display: left;
}

hr {
	width: 100%;
	color: gray;
}

body {
	background-color: white;
	
}

header {
	margin: 50px;
	display: inline;
}

footer {
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
}

label {
	color: grey;
	font-family: "Arial", sans-serif;
	font-size: 20px;
	margin-top: 50px;
	display: left;
}

.name label {
	display: left;
	margin-top: 60px;
	margin-left:60px;
}

#flname {
	display: left;
	margin-left: 70px;
}

.email label {
	display: left;
	margin-top: 100px;
	margin-left: 61px;
}

#email {
	display: left;
	margin-left: 51px;
}

.comm label {
	display: left;
	margin-top: 100px;
	margin-left: 61px;
}

#com {
	display: left;
	margin-left: 190px;
}

#submit {
	margin-left: 80px;
	margin-top: 20px;
}

.tarotImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tarotCards {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
}

.intro {
	position: absolute;
	top: 15vh;
}

#menu {
	position: absolute;
	right: 0vw;
	font-size: 0vw;
	margin-bottom: 0;
	text-align: right;
	display: inline;
}

#menu a {
	color: gray;
	font-family: "Arial", sans-serif;
	font-size: 20px;
	text-decoration: none; 
	padding: 0 10px;
	display: inline;
}

#menu a:hover {
	color: orange;
}

html, body { 
	margin: 0; 
	padding: 0; 
}

table {
	border-collapse: collapse;
	font-family: Georgia, Times, serif;
}

th {
	border: 1px solid #A8A8A8;
	vertical-align: top;
}

td {
	height: 150px;
	width: 150px;
	padding: 10px;
	border: 1px solid #A8A8A8;
	vertical-align: top;
}

.divcalendar {
	padding: 15px;
	float:left;
}

#calendaroverallcontrols {
	text-align: center;
}

#calendarmonthcontrols {
	display: inline-block;
}

#calendarmonthcontrols > div, #calendarmonthcontrols > a {
    display: inline-block;
}    

#btnPrevYr {
	text-decoration: none;
	font-size: 35px;
	vertical-align: middle;    
}

#btnPrev {
	text-decoration: none;
	font-size: 35px;
	margin-left: 20px;
	vertical-align: middle;
}

#monthandyearspan {
	width: 50px;
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
}    

#monthandyear {
	vertical-align: middle;
	font-family: "Arial", sans-serif;
}

#btnNext {
	text-decoration: none;
	font-size: 35px;
	margin-right: 20px;
	vertical-align: middle;
}

#btnNextYr {
	text-decoration: none;
	font-size: 35px;
	vertical-align: middle;
}        

#divcalendartable {
	clear: both;
}

.daysheader {
	background: lightgreen;
	height: auto;
	text-align: center;
	font-family: "Arial", sans-serif;
 
}

#prevmonthdates {
	background-color: #E0E0E0;
	font-family: "Arial", sans-serif;
	color: grey;
}

#nextmonthdates {
	background-color: #E0E0E0;
	font-family: "Arial", sans-serif;
	color: grey;
}

#currentmonthdates {
	background-color: white;
    font-family: "Arial", sans-serif;
}

#cellvaluespan {
	font-family: "Arial", sans-serif;
  
}

#cellvaluelist {
	background: white;
}
